@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #141414;
}

.text {
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    font-family: 'Inter', sans-serif;
    background-color: #0c0c0c;
    height: 90vh;
    width: 90vw;
    border: 4px solid white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.header {
    font-weight: bold;
    color: white;
    text-align: center;
}

.description {
    color: white;
    text-align: center;
}

.error {
    visibility: hidden;
    height: 0;
    width: 0;
    color: white;
    text-align: center;
}

.error-label {
    color: red;
}

.warning {
    font-style: italic;
    color: white;
    text-align: center;
    font-size: small;
}

.form {
    border-radius: 20px;
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.input {
    background-color: #212121;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.cut {
    background-color: #0c0c0c;
    border-radius: 10px;
    height: 20px;
    left: 10px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 88px;
    font-family: 'Inter', sans-serif;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: 'Inter', sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 18px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-32px) translateX(0px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #808097;
}

.upload-btn-wrapper {
    position: relative;
    overflow: visible;
}

.upload-btn-wrapper input[type=file] {
    font-size: 18px;
    margin-top: 15px;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload {
    background-color: #5865F2;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 15px;
    outline: 0;
    text-align: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 5px 0 #454FBF;
}

.submit {
    background-color: #5865F2;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 11vh;
    outline: 0;
    text-align: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 5px 0 #454FBF;
}

.submit:active {
    box-shadow: none;
    transform: translateY(5px);
}

.download {
    visibility: hidden;
}

.downloadButton {
    background-color: #5865F2;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    outline: 0;
    text-align: center;
    width: 50%;
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    box-shadow: 0 5px 0 #454FBF;
    margin-top: 150px;
}

.downloadButton:active {
    box-shadow: none;
    transform: translate(-50%, 5px);
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75%;
}

@media (max-width: 768px) {

    .form,
    .downloadButton {
        width: 80vw;
    }
}

@media (max-width: 480px) {

    .form,
    .downloadButton {
        width: 80vw;
    }

    .main {
        font-size: small;
    }

    .warning {
        font-size: smaller;
    }

    .cut {
        width: 76px;
    }
}